<h1>
  {{title}}
</h1>
<h2>
  Room: {{roomName}} Own: {{ownStone}} Order: {{order}} White: {{cntWhites}} Black: {{cntBlacks}}
</h2>
<div *ngIf="!isRoomObjReady && !isRoomObjHistoryReady">
  <input [value]="roomName" (input)="roomName = $event.target.value">
  <button (click)="makeRoom()">Make room</button>
  <button (click)="joinRoom()">Join room</button>
</div>
<div class="outer_plate">
  <div *ngFor="let cell of cells, let i=index" class="inner_plate" (click)="onClick(i)">
    <div class="stone_area" [ngClass]="cell.stat" *ngIf="cell.stat == 'black' || cell.stat == 'white'">
    <span class="stone stone_black"></span>
    <span class="stone stone_white"></span>
	</div>
  </div>
</div> 
